html, body {
    height: 100%;
    margin: 0px;
}
.header_height{
    height: 8%;
}
.list ul{
    list-style-type: none;
}
.list li{
    display: inline;
    margin-left: 2%;
}

.text_slide{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10vw;
    font-family: cursive;
}
.search{
    background-color: #0b024a;
    height: 20%;
    color: white;
    font-family: cursive;
    font-size: 1.8vw;

}
.search input[type=text],input[type=date]{
    background-color: #0b024a;
    border: solid gray 1px;
}

.card_main{
    position: relative;
}
.money_btn{
    position: absolute;
    top: 5%;
    left: 5%;
}
.footer{
    background-color: #0b024a;
    color: white;
}
.footer_head{
    font-size: 1.5em ;
    color: #95999c;
}

.footer_img{
    border-radius: 20px;
}


